.container {
	padding: 0 1.25rem !important;
	position: relative;

	@include sm {
		padding: 0 1.875rem;
	}

	@include md {
		padding: 0 3.125rem;
	}

	@include lg {
		padding: 0 4rem;
  }

  @include xl {
  	max-width: 1100px;
	  width: 100%;
	  margin-inline: auto;
	  padding: 0;
  }

	@include xxl {
  	max-width: 1200px;
	  width: 100%;
	  margin-inline: auto;
	  padding: 0;
  }
}
