.navbar {
	padding: 1.5rem 0;

	.nav {
		@include items-center;
		justify-content: space-between;

			.nav-left-side {
				@include childspace-x(4rem);
				@include items-center;
				backdrop-filter: blur(8px);
				border-radius: 9999px;
				z-index: 30;
				font-weight: 500;

				.announcement-wrapper {
					@include items-center;
					@include childspace-x(1rem);

					.nav-logo {
						@include items-center;
						@include childspace-x(0.5rem);
						font-weight: 700;
						user-select: none;
						font-size: 1.25rem;
						color: $primary;
						font-family: Quicksand, Inter;

						svg {
							height: 1rem;
							width: auto;
							path {
								fill: $primary;
							}
						}

						@include md {
							color: darken(#fff, 30%);

							svg path {
								fill: darken(#fff, 30%) 
							}
						}
					}

					.announcement {
						@include childspace-x(0.125rem);
						font-size: 0.75rem;
						font-weight: 600;
						background-color: rgba($primary, 0.1);
						color: $primary;
						padding: 0.5rem 1rem;
						border-radius: 9999px;
						display: none;

						&:hover {
							background-color: rgba($primary, 0.2);
						}

						@include md {
							display: block;
						}
					}
				}

			.nav-links {
				@include childspace-x(4rem);
				display: none;

				.nav-link {
					font-size: 0.875rem;

					&:hover {
						color: lighten($text, 20%)
					}
				}

				@include lg {
					display: block;
				}
			}
		}

		.lighting {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				height: 40px;
				width: 500px;
				border-radius: 9999px;
				filter: blur(60px);
				transform: rotate(45deg);
				// Fallback
				background: rgba($primary, 0.5);
				// Gradient
				background-image: linear-gradient(to top right, red, #2094e8, red);

				@include sm {				
					right: 20%;
				}
			}

			&::after {
				content: "";
				position: absolute;
				top: 100px;
				right: 45%;
				height: 40px;
				width: 800px;
				border-radius: 9999px;
				filter: blur(80px);
				transform: rotate(45deg);
				// Fallback
				background: rgba($primary, 0.5);
				// Gradient
				background-image: linear-gradient(to top right, cyan, #2094e8, purple);

				@include sm {
					right: 40%;
				}
			}
		}

		.nav-cta-btn {
			font-size: 0.875rem;
			font-weight: 500;
			padding: 0.875rem 1rem;
			background: lighten($bg, 10%);
			color: darken(#fff, 10%);
			border-radius: 0.5rem;
			display: none;

			&:hover {
				background: lighten($bg, 15%);
			}

			@include lg {
				@include items-center;
			}
		}

		.bars {
			@include childspace-y(0.425rem);
			display: flex;
			flex-direction: column;

			.bar {
				width: 1.5rem;
				height: 2px;
				background: darken(#fff, 30%);
				border-radius: 9999px;
			}

			@include lg {
				display: none;
			}
		}

		#nav-checkbox {
			display: none;

			&:checked {
				& ~ .mobile-nav-links {
					right: 0;

					.bars.mobile {
						.bar {
							animation-name: second-bar;
							animation-fill-mode: forwards;
							animation-duration: 100ms;
							animation-delay: 500ms;
							
							&:first-child {
								animation-name: first-bar;
							}
						}
					}
				}

				& ~ .bars {
					display: none;
				}

				& ~ .nav-backdrop {
					display: block;

					@include lg {
						display: none;
					}
				}
			} 
		}

		.mobile-nav-links {
			@include childspace-y(1rem);
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 16rem;
			position: fixed;
			right: -100vw;
			bottom: 0;
			top: 0;
			z-index: 32;
			background-color: $bg;
			backdrop-filter: blur(4px);
			border-left: 1px solid rgba(#fff, 0.05);
			box-shadow: 0 0 50px 0 rgba(#000, 0.1);
			transition: 200ms;
			padding: 2rem 1.25rem;
			font-size: 0.875rem;
			font-weight: 500;

			.bars.mobile {
				margin-bottom: 1rem;
				align-self: flex-end;
			}

			.nav-link {
				margin-bottom: 0.5rem;
			}

			.mobile-nav-cta-btn {
				padding: 0.875rem 1rem;
				background: lighten($bg, 10%);
				color: darken(#fff, 10%);
				border-radius: 0.5rem;
				margin-top: 1rem;

				&:hover {
					background: lighten($bg, 15%);
				}
			}

			@include lg {
				display: none;
			}
		}

		.nav-backdrop {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 30;
			background-color: rgba(#000, 0.3);
		}
	}
}

@keyframes first-bar {
	from {
		transform: rotate(30deg) translate(3px, 2px);
	}	

	to {
		transform: rotate(45deg) translate(3px, 2px);
	}
}

@keyframes second-bar {
	from {
		transform: rotate(-30deg) translate(3px, -4px);
	}	

	to {
		transform: rotate(-45deg) translate(3px, -4px);
	}
}